$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$primary-color: #0a0a0a;
$secondary-color: #ef842a;
$content-color: #7b8185;
$btn-color: #4aa3df;
$btn-hovor-color: #ef842a;